﻿@page
@model TheReplacement.Pages.Charles.BlackjackModel
@{
    ViewData["Title"] = "The Broken Arms' Hotel";
}

<h1>Welcome to the Broken Arms Hotel</h1>


<div id="new-game">
    <button type="button" id="new-game-btn">New Game</button>
</div>


<script src="~/js/blackjack.js" asp-append-version="true"></script>