﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Charles' Homepage";
}

<div class="container text-center">
    <h3>Professional Profile</h3>
    <hr />
    <div class="row">
        <div class="col-md-3 my-auto">
            <img src="~/images/charles.jpg" class="img-fluid" />
        </div>
        <div class="col-md-9 my-auto">
            <p>
                Experienced Test Engineer with 5+ years of manual and automation test script development for desktop and web applications.
            </p>
            <a href="https://www.linkedin.com/in/charles-stewart-5a254182/">Linkedin</a>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-8">
            <table>
                <thead>
                    <tr>
                        <th>Employment</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr><td><br /></td></tr>
                    <tr class="my-auto">
                        <td>
                            <strong>
                                ESC | Spectrum Systems<br />
                                QA Engineer II<br />
                                2020 - Present
                            </strong>
                        </td>
                        <td>
                            <p>
                                Ownership of UI Test Automation Framework, which uses Appium and WinAppDriver to
                                test ESC | Spectrum's Windows-based desktop applications.
                            </p>
                        </td>
                    </tr>
                    <tr><td><br /></td></tr>
                    <tr class="my-auto">
                        <td>
                            <strong>
                                Everi Holdings<br />
                                QA Engineer<br />
                                2018 - 2019
                            </strong>
                        </td>
                        <td>
                            <p>
                                Ownership of financial technology quality assurance testing and reporting.
                            </p>
                            <p>
                                Ownership of financial technology internal test automation framework.
                            </p>
                        </td>
                    </tr>
                    <tr><td><br /></td></tr>
                    <tr class="my-auto">
                        <td>
                            <strong>
                                Electronic Arts<br />
                                Quality Engineer<br />
                                2015 - 2018
                            </strong>
                        </td>
                        <td>
                            <p>
                                Ownership and maintenance of the infrastructure and architecture of Electronic Arts'
                                console automation farm.
                            </p>
                            <p>
                                Development of automated test scripts using in-house automation framework.
                            </p>
                            <p>
                                Development of plugins for test automation GUI.
                            </p>
                            <p>
                                Delivery of test results to internal teams.
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <h4>Technologies Used:</h4>
            <hr />
            <ul class="list-group list-group-flush my-auto">
                <li class="list-group-item">C# .NET</li>
                <li class="list-group-item">Python</li>
                <li class="list-group-item">XML</li>
                <li class="list-group-item">Powershell</li>
                <li class="list-group-item">Windows Batch</li>
                <li class="list-group-item">Appium</li>
                <li class="list-group-item">Selenium</li>
                <li class="list-group-item">Azure DevOps</li>
                <li class="list-group-item">Jenkins</li>
                <li class="list-group-item">Agile</li>
            </ul>
        </div>
    </div>
    <h3>Personal Projects</h3>
    <ul class="list-group list-group-horizontal-md my-auto">
        <li class="list-group-item">
            <a asp-page="PokemonSim/Index">Pokemon Sim</a>
        </li>
        <li class="list-group-item">
            <a asp-page="PokemonCatchrateCalculator">Catchrate Calculator</a>
        </li>
        <li class="list-group-item">
            <a asp-page="Blackjack">Blackjack</a>
        </li>
    </ul>
</div>