﻿@page
@model TheReplacement.Pages.Charles.PokemonCatchrateCalculatorModel
@{
    ViewData["Title"] = "Catchrate Calculator";
}


@if (!string.IsNullOrEmpty(Model.Chance))
{
    //TODO:
    //Show Pokemon's stats and picture
    var Pokemon = @Model.Pokemon;
    var Stats = Pokemon.BattleStats;
    <div class="container">
        <h3>@Model.Chance chance to capture a Level @Stats.Level @Pokemon.Species given the following</h3>
        <div class="row text-center my-2">
            <div class="col-4 col-md-2">HP: @Stats.CurrentHP / @Stats.HP</div>
            <div class="col-4 col-md-2">Status: @Model.CurrentStatus.Status</div>
            <div class="col-4 col-md-2">Location: @Model.CurrentStatus.Location</div>
            <div class="col-4 col-md-2">Pokeball: @Model.CurrentStatus.Pokeball</div>
            <div class="col-4 col-md-2">Turns Passed: @Model.CurrentStatus.TurnsPassed</div>
            <div class="col-4 col-md-2">Typing: @Model.CurrentStatus.Typing</div>
        </div>
        <hr />
        <div class="row text-center my-2">
            <div class="col-4 col-md-2">
                <div>PokeDex: @Model.CurrentStatus.DexCompletion</div>
                <div>Shiny Chance: @Model.ShinyChance%</div>
                <div>Number Battled: @Model.CurrentStatus.NumberBattled</div>
                <img src=@Pokemon.ImageURL>
            </div>
            <div class="col-4 col-md-2">Attack: @Stats.Attack</div>
            <div class="col-4 col-md-2">Defense: @Stats.Defense</div>
            <div class="col-4 col-md-2">Special Attack: @Stats.SpecialAttack</div>
            <div class="col-4 col-md-2">Special Defense: @Stats.SpecialDefense</div>
            <div class="col-4 col-md-2">Speed: @Stats.Speed</div>
        </div>
        <hr />
    </div>
}
<form method="post">
    <div class="container">
        <h3>Your Pokemon</h3>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="SpeciesY">Species</label>
            </div>
            <select name="speciesY" class="custom-select" id="SpeciesY">
                <option selected>Choose...</option>
                @{
                    @using TheReplacement.PokeLibrary;
                    @using TheReplacement.PokeLibrary.Pokeball.Enum;
                    @using TheReplacement.PokeLibrary.Battle.Field.Enums;
                    @using TheReplacement.PokeLibrary.Pokemon.PokemonParts;
                    foreach (var result in Model.SpeciesList)
                    {
                        string name = ((string)result["name"]).Capitalize();
                        <option value="@name">
                            @name
                        </option>
                    }
                }
            </select>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="LevelY">Level</label>
            </div>
            <input type="number" name="levelY" min="1" max="100" id="LevelY" class="levelY" />
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="Registered">Is the wild pokemon already registered in your dex?</label>
            </div>
            <select name="dexStatus" class="custom-select" id="Registered">
                <option selected>Choose...</option>
                <option value="No">
                    No
                </option>
                <option value="Yes">
                    Yes
                </option>
                <option value="Completed">
                    Completed
                </option>
            </select>
        </div>
    </div>
    <hr />
    <div class="container">
        <h3>The Wild Pokemon</h3>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Species and Number Battled</span>
            </div>
            <select name="species" class="custom-select">
                <option selected>Choose...</option>
                @foreach (var result in Model.SpeciesList)
                {
                    string name = ((string)result["name"]).Capitalize();
                    <option value="@name">
                        @name
                    </option>
                }
            </select>
            <input type="number" name="numBattled" min="0" />
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="Level">Level</label>
            </div>
            <input type="number" name="level" min="1" max="100" id="Level" />
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="TurnsPassed">Turns Passed</label>
            </div>
            <input type="number" name="turnsPassed" min="0" id="TurnsPassed" />
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="Pokeball">Pokeball</label>
            </div>
            <select name="pokeball" class="custom-select" id="Pokeball">
                <option selected>Choose...</option>
                @foreach (string pokeball in Enum.GetNames(typeof(Pokeballs)))
                {
                    <option value="@pokeball">
                        @pokeball
                    </option>
                }
            </select>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="Location">Location</label>
            </div>
            <select name="location" class="custom-select" id="Location">
                <option selected>Choose...</option>
                @foreach (string location in Enum.GetNames(typeof(Location)))
                {
                    <option value="@location">
                        @location
                    </option>
                }
            </select>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="Status">Status</label>
            </div>
            <select name="status" class="custom-select" id="Status">
                <option selected>Choose...</option>
                @foreach (string status in Enum.GetNames(typeof(Status)))
                {
                    if (status != "Fainted")
                    {
                        <option value="@status">
                            @status
                        </option>
                    }
                }
            </select>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="CurrentHP">Current HP</label>
            </div>
            <input type="number" name="currentHP" min="1" id="CurrentHP" />
        </div>
        <button type="submit">Submit</button>
    </div>
</form>