﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - The Replacement</title>

    <environment include="Development">
        <script src="~/jquery/jquery.js"></script>
        <link rel="stylesheet" href="~/bootstrap4/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
              asp-fallback-href="~/bootstrap4/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-info">
        <div class="container">
            <a asp-page="/Index" class="navbar-brand">The Replacement</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            @* Collapsable section of navbar *@
            <div class="navbar-collapse collapse" id="navbarContent">
                <ul class="mr-auto navbar-nav">
                    <li class="nav-item active">
                        <a asp-page="/About" class="btn btn-info">About</a>
                    </li>
                    <li class="nav-item active">
                        <a asp-page="/Contact" class="btn btn-info">Contact</a>
                    </li>
                    <li class="nav-item active">
                        <div class="btn-group">
                            <a asp-page="/Charles/Index" class="btn btn-info">Charles</a>
                            <button type="button" class="btn btn-info dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" asp-page="/Charles/PokemonSim/Index">PokemonSim</a>
                                <a class="dropdown-item" asp-page="/Charles/PokemonCatchrateCalculator">Catchrate Calculator</a>
                                <a class="dropdown-item" asp-page="/Charles/Blackjack">Blackjack</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="https://www.linkedin.com/in/charles-stewart-5a254182">Linkedin</a>
                                <a class="dropdown-item" href="https://gitlab.com/zakielmori">Gitlab</a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item active">
                        <div class="btn-group">
                            <a asp-page="/Mark/Index" class="btn btn-info">Mark</a>
                            <button type="button" class="btn btn-info dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            @*<div class="dropdown-menu"/>*@
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        <div class="container the-body">
            @RenderBody()
        </div>
    </div>
    <footer class="py-1 container">
        <hr />
        &copy; 2020 - The Replacement
    </footer>

    <environment include="Development">
        <script src="~/bootstrap4/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/jquery/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
                asp-fallback-src="~/bootstrap4/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
