﻿@page
@model TheReplacement.Pages.Charles.PokemonSim.BankModel
@{
    ViewData["Title"] = $"{Model.GameData.Name}'s PokeBank";
    var Character = Model.Character;
    var Bank = Character.Bank;
}


<h1>@Model.GameData.Name's PokeBank</h1>

@for (int box = 0; box < Bank.Count; box++)
{
    if(Bank[box].Count == 0)
    {
        <p>Ya ain't got none!!</p>
    }
    else
    {
        string id = $"box{box + 1}";
        double rows = Math.Ceiling((double)Bank[box].Count / 3);
        <div class="container" id="@id">
            <h3>Box @(box+1)</h3>
            @for (int i = 0; i < rows; i++)
            {
                <div class="row">
                    @for (int j = 0; j < 3; j++)
                    {
                        int position = 3 * i + j;
                        if (Bank[box].Count > position)
                        {
                            var member = Bank[box][position];
                            string pokeball = $"https://www.serebii.net/itemdex/sprites/{member.Pokeball.ToString().ToLower()}.png";
                            <div class="col-md-4">
                                <div class="container text-center">
                                    <img src="@member.ImageURL" style="background-size: 100% 100%;" /> <br />
                                    <img src="@pokeball" />
                                    Nickname: @member.Nickname <br />
                                    Species: @member.Species <br />
                                    Level: @member.PokemonStats.Level <br />
                                    HP: @member.PokemonStats.HP
                                </div>
                            </div>
                        }
                        else
                        {

                        }
                    }
                </div>
            }
        </div>
    }
}