﻿@page
@model TheReplacement.Pages.Charles.PokemonSim.CatchModel
@{
    @using TheReplacement.PokeLibrary.Pokeball.Enum;
    @using Newtonsoft.Json;
    @using TheReplacement.PokeLibrary;
    var First = Model.Character.Team[0];
    var Wild = Model.WildPokemon;
    ViewData["Title"] = $"Turn {Model.TurnsPassed + 1} Against {Wild.Species}";
}

<style>
    .body-content {
        background: url("@Model.Weather.GetURL()") no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
    }
</style>

@if (Model.NumberOfShakes > -1)
{
    <div class="row">
        @for (int i = 0; i < Model.NumberOfShakes; i++)
        {
            <div class="col-md-4">
                Shaking...
            </div>
        }
    </div>
    <p>@Wild.Species broke out after @Model.NumberOfShakes</p>
}


<form method="post">
    <input type="text" name="turnsPassed" value="@Model.TurnsPassed" hidden/>
    <input type="hidden" asp-for="GameData.ID" />
    <input type="hidden" asp-for="GameData.SaveData" />
    <div class="row">
        <div class="col-md-6">
            <div class="container text-center" name="turnsPassed" value="@Model.TurnsPassed">
                <img src="@First.ImageURL" style="background-size: 100% 100%;" /> <br />
                Nickname: @First.Nickname <br />
                Level: @First.PokemonStats.Level <br />
                Gender: @First.Gender <br />
                Location: @Model.Location <br />
                Weather: @Model.Weather <br />
                HP: @First.PokemonStats.HP
            </div>
        </div>
        <div class="col-md-6">
            <div class="container text-center">
                <img src="@Wild.ImageURL" style="background-size: 100% 100%;" /> <br />
                Species: @Wild.Species <br />
                Level: @Wild.PokemonStats.Level <br />
                Gender: @Wild.Gender <br />
                Status: @Wild.BattleStats.Status <br />
                HP: @Wild.BattleStats.CurrentHP/@Wild.PokemonStats.HP
            </div>
        </div>
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text" for="Pokeball">Pokeball</label>
        </div>
        <select class="custom-select" id="Pokeball" name="pokeball">
            @foreach (string pokeball in Enum.GetNames(typeof(Pokeballs)))
            {
                <option value="@pokeball">
                    @pokeball
                </option>
            }
        </select>
    </div>

    <button class="btn btn-dark" type="submit" id="catch" name="wild" value="@JsonConvert.SerializeObject(Wild.ToObject())">Catch</button>
</form>