﻿@page
@model TheReplacement.Pages.Charles.PokemonSim.DeleteModel

@{
    ViewData["Title"] = $"Deleting {Model.GameData.Name}";
}

<h1>Delete @Model.GameData.Name</h1>

<h3>Are you sure you want to delete this character?</h3>
<hr />
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GameData.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GameData.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GameData.SaveData)
        </dt>
        <dd class="col-sm-10">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        @using TheReplacement.PokeLibrary;
                        Trainer Type: @Model.Character.TrainerType.GetName()
                    </div>
                    <div class="col-md-6">
                        Trainer ID: @Model.Character.TrainerID
                    </div>
                </div>
                @{
                    var team = Model.Character.Team;
                    int cols = 12 / team.Count;
                    <div class="row">
                        @foreach (var member in team)
                        {
                            <div class="col-md-@cols" style="width: auto;">
                                <div class="container text-center">
                                    <img src="@member.ImageURL" style="background-size: 100% 100%;" /> <br />
                                    Nickname: @member.Nickname <br />
                                    Species: @member.Species <br />
                                    Level: @member.PokemonStats.Level <br />
                                    HP: @member.PokemonStats.HP
                                </div>
                            </div>
                        }
                    </div>
                }
            </div>
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="GameData.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
