﻿@page
@model TheReplacement.Pages.Charles.PokemonSim.DetailsModel

@{
    ViewData["Title"] = $"{Model.Character.Name}'s Details";
}

<h1>@Model.Character.Name Details</h1>
<hr />
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GameData.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GameData.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GameData.SaveData)
        </dt>
        <dd class="col-sm-10">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        @using TheReplacement.PokeLibrary;
                        Trainer Type: @Model.Character.TrainerType.GetName()
                    </div>
                    <div class="col-md-6">
                        Trainer ID: @Model.Character.TrainerID
                    </div>
                </div>
                @{
                    var team = Model.Character.Team;
                    double rows = Math.Ceiling((double)team.Count / 3);
                    for (int i = 0; i < rows; i++)
                    {
                        <div class="row">
                            @{
                                int cols = team.Count >= 3 * i + 3
                                ? 4
                                : team.Count == 3 * i + 2
                                    ? 6
                                    : 12;
                                for (int j = 0; j < 3; j++)
                                {
                                    int position = 3 * i + j;
                                    if (team.Count > position)
                                    {
                                        var member = team[position];
                                        string pokeball = $"https://www.serebii.net/itemdex/sprites/{member.Pokeball.ToString().ToLower()}.png";
                                        <div class="col-md-@cols">
                                            <div class="container text-center">
                                                <img src="@member.ImageURL" style="background-size: 100% 100%;" /> <br />
                                                <img src="@pokeball" />
                                                Nickname: @member.Nickname <br />
                                                Species: @member.Species <br />
                                                Level: @member.PokemonStats.Level <br />
                                                HP: @member.PokemonStats.HP
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        break;
                                    }
                                }
                            }
                        </div>
                    }
                }
            </div>
        </dd>
    </dl>
</div>
<div>
    @*<a asp-page="./Edit" asp-route-id="@Model.GameData.ID">Edit</a> |*@
    <a asp-page="./Bank" asp-route-id="@Model.GameData.ID">Visit PokeBank</a> |
    <a asp-page="./Index">Back to List</a>
</div>
