﻿@page
@model TheReplacement.Pages.Charles.PokemonSim.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Game Index</h1>

<p>
    <a asp-page="NewGame">New Game</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GameData[0].Name)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.GameData[0].SaveData)
            </th>*@
            <th>
                What do you want to do?
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.GameData) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.SaveData)
            </td>*@
            <td>
                <a asp-page="./Catch" asp-route-id="@item.ID">Catch New Pokemon</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details Character Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete Save</a>
            </td>
        </tr>
}
    </tbody>
</table>
