﻿@page
@model TheReplacement.Pages.Charles.PokemonSim.NewGameModel
@{
    ViewData["Title"] = "Pokemon Sim";
}


<form method="post">
    <div class="form-group my-auto">
        <label asp-for="GameData.Name" class="control-label"></label>
        <input asp-for="GameData.Name" class="form-control" />
        <span asp-validation-for="GameData.Name" class="text-danger"></span>
    </div>
    @using TheReplacement.PokeLibrary.Pokemon;
    @using TheReplacement.PokeLibrary;
    <div class="container">
        @foreach (var starters in TrainerPokemon.StarterPokemon)
        {
            <div class="row">
                <div class="input-group">
                    <div class="input-group-prepend col-3">
                        <span class="input-group-text text-center">Gen @starters.Key</span>
                    </div>
                    @foreach (var starter in starters.Value)
                    {
                        <div class="col-3">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <input type="radio" aria-label="Radio button for pokemon selection" name="species" value=@(((string)starter["name"]).Capitalize()) />
                                </div>
                            </div>
                            <img src=@((string)starter["sprites"]["front_default"]) class="mx-auto d-block" />
                        </div>
                    }
                </div>
            </div>
        }
    </div>
    <div class="input-group my-3">
        <div class="input-group-prepend">
            <label class="input-group-text" for="nickname">Nickname</label>
        </div>
        <input type="text" name="nickname" id="nickname" placeholder="Nickname" class="form-control" aria-label="nickname" />
    </div>
    <button type="submit" class="btn btn-dark">Start New</button>
</form>